In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set()

In [28]:
risk = pd.read_csv("C://Users//rakes//Desktop//MLP//mlp videos//german_credit_data.csv")

In [29]:
risk.head(5)

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [30]:
risk.shape

(1000, 11)

In [31]:
risk.isna().sum()

Unnamed: 0            0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
Risk                  0
dtype: int64

In [32]:
risk['Saving accounts'].fillna("NA", inplace=True)
risk['Checking account'].fillna("NA", inplace=True)

In [33]:
risk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   1000 non-null   object
 6   Checking account  1000 non-null   object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
 10  Risk              1000 non-null   object
dtypes: int64(5), object(6)
memory usage: 86.1+ KB

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
le = LabelEncoder()

In [36]:
risk['Sex'] = le.fit_transform(risk['Sex'])
risk['Housing'] = le.fit_transform(risk['Housing'])
risk['Saving accounts'] = le.fit_transform(risk['Saving accounts'])
risk['Checking account'] = le.fit_transform(risk['Checking account'])
risk['Purpose'] = le.fit_transform(risk['Purpose'])
risk['Risk'] = le.fit_transform(risk['Risk'])

In [37]:
risk.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,1,2,1,0,1,1169,6,5,1
1,1,22,0,2,1,1,2,5951,48,5,0
2,2,49,1,1,1,1,0,2096,12,3,1
3,3,45,1,2,0,1,1,7882,42,4,1
4,4,53,1,2,0,1,1,4870,24,1,0

In [38]:
risk.drop('Unnamed: 0', axis=1,inplace=True)

In [39]:
x = risk.iloc[:,0:9]
y = risk.iloc[:,9]

In [40]:
x

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,1,2,1,0,1,1169,6,5
1,22,0,2,1,1,2,5951,48,5
2,49,1,1,1,1,0,2096,12,3
3,45,1,2,0,1,1,7882,42,4
4,53,1,2,0,1,1,4870,24,1
...,...,...,...,...,...,...,...,...,...
995,31,0,1,1,1,0,1736,12,4
996,40,1,3,1,1,1,3857,30,1
997,38,1,2,1,1,0,804,12,5
998,23,1,2,0,1,1,1845,45,5
999,27,1,2,1,2,2,4576,45,1

In [41]:
from sklearn.preprocessing import StandardScaler

In [42]:
ss = StandardScaler()
ss.fit(x)

StandardScaler()

In [43]:
x = ss.transform(x)

In [44]:
x

array([[ 2.76645648,  0.67028006,  0.14694918, ..., -0.74513141,
        -1.23647786,  1.07326286],
       [-1.19140394, -1.49191369,  0.14694918, ...,  0.94981679,
         2.24819436,  1.07326286],
       [ 1.18331231,  0.67028006, -1.38377145, ..., -0.41656241,
        -0.73866754,  0.06170503],
       ...,
       [ 0.21583532,  0.67028006,  0.14694918, ..., -0.87450324,
        -0.73866754,  1.07326286],
       [-1.10345149,  0.67028006,  0.14694918, ..., -0.50552769,
         1.9992892 ,  1.07326286],
       [-0.75164167,  0.67028006,  0.14694918, ...,  0.46245715,
         1.9992892 , -0.9498528 ]])

In [45]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [46]:
knn = KNeighborsClassifier(n_neighbors=15, metric='euclidean')
knn.fit(x_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=15)

In [47]:
y_pred = knn.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.725

In [48]:
from sklearn.tree import DecisionTreeClassifier as dtree
ct = dtree(
           criterion="entropy",    # Alternative 'entropy'
           max_depth=None       # Alternative, specify an integer
                              # 'None' means full tree till single leaf
           )
ct.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [49]:
y_te = ct.predict(x_test)

In [50]:
accuracy_score(y_test,y_te)

0.685

In [51]:
from sklearn.tree import DecisionTreeClassifier as dtree
ct = dtree(
           criterion="gini",    # Alternative 'entropy'
           max_depth=None       # Alternative, specify an integer
                              # 'None' means full tree till single leaf
           )
ct.fit(x_train,y_train)

DecisionTreeClassifier()

In [52]:
y_tes = ct.predict(x_test)

In [53]:
accuracy_score(y_test,y_tes)

0.725

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [55]:
clf=RandomForestClassifier(n_estimators=100)

In [56]:
clf.fit(x_train,y_train)

y_pred1=clf.predict(x_test)

In [57]:
accuracy_score(y_test,y_pred1)

0.74

In [ ]:
# Here we can see that Random Forest Classifier has the most accuracy followed by KNN Classifier